@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button {
    @apply bg-yellow-700 hover:bg-yellow-600 text-white font-bold py-2 px-10 rounded;
}

.tx-button-qr {
    @apply bg-gray-600 hover:bg-gray-400 text-gray-300 py-2;
}

.tx-button-socket {
    @apply bg-gray-600 hover:bg-gray-400 text-gray-300 py-2;
}

.section-background {
    @apply text-center bg-yellow-400 px-5 py-3 m-2 rounded;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #F59E0B;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #92400E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #92400E;
  cursor: pointer;
}
